@{
	ViewData["Title"] = "Privacy Policy";
}

<div class="container text-center">
	<h1>Ми співпрацюємо з виробниками більше 10-ти років! Саме тому ми можему запропонувати вам самий якісний товар по самим низьким цінам!</h1>
	<br>
	<div class="row">
		<div class="col-sm-4 fromus">
			<h1>Наші клієнти завжди отримують гарантію якості, та в випадку якщо клієнта щось не влаштовує він завжди може повернути або поміняти товар якщо ця річ не має слідів використання!</h1>
		</div>
		<div class="col-sm-4 fromus">
			<h1>Ми співпрацюємо з такими виробниками - DeMarko, Samange, Vanessa, Evromoda, Blesso, Detta, Belvas, Bona, Mioli, Tiara, Mirage, Ripka і багато інших...</h1>
		</div>
		<div class="col-sm-4 fromus">
			<img class="img-fluid"  src="/gif/IMG_9884.gif" style="border-radius:10px" />

		</div>
	</div>
</div>
<br>
